# Compiled output
/dist
/tmp
/out-tsc
/.angular
/coverage

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Environment
.env
.env.local
