<app-dialog-shell [dialogTitle]="'auth.forgotTitle' | translate" icon="lock-open" [busy]="loading()">
  <p class="intro">
    {{ 'auth.forgotIntro' | translate }}
  </p>

  @if (sent()) {
    <div class="info-msg">
      <app-icon name="mail-check" [size]="18" />
      {{ 'auth.forgotSent' | translate }}
    </div>
  } @else {
    <app-field class="email-field" [label]="'auth.email' | translate">
      <input
        appInput
        type="email"
        [ngModel]="email()"
        (ngModelChange)="email.set($event)"
        autocomplete="email"
        cdkFocusInitial
      />
    </app-field>
  }

  <ng-container dialogActions>
    @if (sent()) {
      <button appBtn type="button" (click)="ref.close()">
        {{ 'common.close' | translate }}
      </button>
    } @else {
      <button appBtn="ghost" type="button" (click)="ref.close()" [disabled]="loading()">
        {{ 'common.cancel' | translate }}
      </button>
      <button
        appBtn
        type="button"
        (click)="submit()"
        [loading]="loading()"
        [disabled]="!canSubmit()"
      >
        {{ 'auth.sendLink' | translate }}
      </button>
    }
  </ng-container>
</app-dialog-shell>
