<app-dialog-shell
  [dialogTitle]="data.title"
  [icon]="data.danger ? 'triangle-alert' : 'info'"
  [tone]="data.danger ? 'danger' : 'brand'"
>
  <p class="message">{{ data.message }}</p>

  @if (data.requireTextMatch) {
    <app-field
      class="match-field"
      [label]="data.requireTextLabel ?? ('dialogs.typeToConfirm' | translate)"
      [hint]="('dialogs.typeExactly' | translate) + ' ' + data.requireTextMatch"
    >
      <input
        appInput
        [ngModel]="typedText()"
        (ngModelChange)="typedText.set($event)"
        autocomplete="off"
      />
    </app-field>
  }

  @if (data.requirePassword) {
    <app-field
      class="match-field"
      [label]="data.requirePasswordLabel ?? ('dialogs.currentPassword' | translate)"
    >
      <input
        appInput
        type="password"
        [ngModel]="password()"
        (ngModelChange)="password.set($event)"
        autocomplete="current-password"
      />
    </app-field>
  }

  <ng-container dialogActions>
    <button appBtn="ghost" type="button" (click)="cancel()">
      {{ data.cancelText ?? ('common.cancel' | translate) }}
    </button>
    <button
      [appBtn]="data.danger ? 'danger' : 'primary'"
      type="button"
      [disabled]="!canConfirm()"
      (click)="confirm()"
      cdkFocusInitial
    >
      {{ data.confirmText ?? ('common.confirm' | translate) }}
    </button>
  </ng-container>
</app-dialog-shell>
