<button
  appBtn
  size="lg"
  iconOnly
  class="fab"
  [appMenuTrigger]="quickMenu"
  [attr.aria-label]="'quick.quickActions' | translate"
>
  <app-icon name="plus" [size]="24" />
</button>
<app-menu #quickMenu xPosition="before" yPosition="above">
  <button app-menu-item (click)="quick.openNewSale()">
    <app-icon class="text-success" name="tag" [size]="18" />
    <span>{{ 'quick.newSale' | translate }}</span>
  </button>
  <button app-menu-item (click)="quick.openNewPurchase()">
    <app-icon class="text-brand" name="shopping-cart" [size]="18" />
    <span>{{ 'quick.newPurchase' | translate }}</span>
  </button>
  <button app-menu-item (click)="quick.openNewReturn()">
    <app-icon class="text-warning" name="rotate-ccw" [size]="18" />
    <span>{{ 'quick.newReturn' | translate }}</span>
  </button>
</app-menu>
