<button
  mat-fab
  class="fab"
  [matMenuTriggerFor]="quickMenu"
  [attr.aria-label]="'quick.quickActions' | translate"
>
  <mat-icon>add</mat-icon>
</button>
<mat-menu #quickMenu="matMenu" xPosition="before" yPosition="above" class="fab-menu">
  <button mat-menu-item (click)="quick.openNewSale()">
    <mat-icon class="menu-icon success">sell</mat-icon>
    <span>{{ 'quick.newSale' | translate }}</span>
  </button>
  <button mat-menu-item (click)="quick.openNewPurchase()">
    <mat-icon class="menu-icon brand">shopping_cart</mat-icon>
    <span>{{ 'quick.newPurchase' | translate }}</span>
  </button>
</mat-menu>
